.DashboardGrid{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 0.2fr 1fr;
  border: 2px solid black;
  flex: 1;
}

.DashboardInset{
  border: 2px solid pink;
  flex: 0.35;
}

.DashboardFocus{
  border: 2px solid red;
  grid-row: 1 / 1;
}

.DashboardCarousel{
  grid-row: 3 / 3;
  border: 2px solid green;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
