.DashboardGrid{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 0.4fr 1fr;
  border: 2px solid black;
  flex: 1 0 0;
}

.DashboardFocus{
  border: 2px solid red;
  grid-row: 1 / 1;
}

.DashboardCarousel{
  grid-row: 3 / 3;
  border: 2px solid green;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.DashboardThemeSelection{
    border: 2px solid brown;
    grid-row: 2 / 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

.DashboardThemeSelectionWelcomeWrapper{
  display: flex;
}

.DashboardHello{
  margin-left: 10px;
}

.DashboardFlexStretch{
  flex: 1
}

.DashboardPredictionMetrics{
  margin-right: 10px;
  display: flex;
  flex-direction: row;
}

.DashboardMetricWrapper{
  margin-right: 5px;
  border: 1px solid black;
}

.DashboardThemeCarousel{
  flex: 1;
  border-top: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-top: 2px solid black;
  box-sizing: border-box;
}

.DashboardInset{
  border: 2px solid pink;
  width: 26vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 0.4fr 1fr;
}

.DashboardInsetTable{
  border: 2px solid black;
  /* height: 40%;
  width: 80%; */
  overflow: scroll;
  grid-row: 1 / 1;
}

.DashboardLinks{
  border: 2px solid pink;
  width: 100%;
  grid-row: 3 / 3;
}

.ModalOverlay{
  position: fixed;
  border: 2px solid black;
}

.SlidingPaneWrapper{
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0,
  top: 0,
  backgroundColor: rgba(255, 255, 255, 0.75);
  border: 2px solid black;
}
