/* Font Imports */
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 400;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

/* inter-200 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  src: url('../../assets/inter-v11-latin-200.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../assets/inter-v11-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../assets/inter-v11-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../assets/inter-v11-latin-200.woff') format('woff'), /* Modern Browsers */
       url('../../assets/inter-v11-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../assets/inter-v11-latin-200.svg#Inter') format('svg'); /* Legacy iOS */
}
/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/inter-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../assets/inter-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../assets/inter-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../assets/inter-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../../assets/inter-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../assets/inter-v11-latin-regular.svg#Inter') format('svg'); /* Legacy iOS */
}
/* inter-600 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('../../assets/inter-v11-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../assets/inter-v11-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../assets/inter-v11-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../assets/inter-v11-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../../assets/inter-v11-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../assets/inter-v11-latin-600.svg#Inter') format('svg'); /* Legacy iOS */
}
/* inter-800 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: url('../../assets/inter-v11-latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../../assets/inter-v11-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../assets/inter-v11-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../../assets/inter-v11-latin-800.woff') format('woff'), /* Modern Browsers */
       url('../../assets/inter-v11-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../../assets/inter-v11-latin-800.svg#Inter') format('svg'); /* Legacy iOS */
}


/* ------------------------------ */
/* Resets                         */    
/* ------------------------------ */

/* Reset Box-Sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset default margin */
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.35;
    height: 100%;
    overflow: hidden;
    font-family: var(--ff-sansserif);
}

img {
    max-width: 100%;
    display: block;
  }
  
input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
}

/* ------------------------------ */
/* Custom Properties              */
/* ------------------------------ */

:root {
  /* Colors */
  /* Colors are in RGB integers (not format) as transparency is widely applied. */
  

  /* Declarative */

  --clr-white: 255, 255, 255;
  --clr-grey-100: 250, 250, 250;
  --clr-grey-200: 239, 239, 239;
  --clr-grey-300: 219, 219, 219;
  --clr-grey-400: 142, 142, 142;
  --clr-grey-500: 49, 49, 49;
  --clr-grey-600: 38, 38, 38;
  --clr-grey-700: 26, 26, 26;
  --clr-grey-800: 18, 18, 18;

  /* Semantic Colors */
  /* Primary */

  /* Accent */
  
  /* Neutral */


  /* Transparency */
  --alpha-low: 0.07;
  --alpha-medium: 0.50;
  --alpha-high: 0.90;

  /* Shadows */


  /* Borders */

  --br-circle: 1000px;
  --br-sharp: var(--space-xs);

  /* Typography */
  /* Fonts */
  --ff-sansserif: 'Inter', sans-serif;
  --ff-monospace: 'IBM Mono', monospace;

  /* Font sizes */
  --fs-base: 1em;

  --fs-xxs:  calc(0.25 * var(--fs-base));
  --fs-xs:   calc(0.5 * var(--fs-base));
  --fs-sm:   calc(0.85 * var(--fs-base));
  --fs-md:   calc(1.25 * var(--fs-base));
  --fs-lg:   calc(2 * var(--fs-base));
  --fs-xl:   calc(3.25 * var(--fs-base));
  --fs-xxl:  calc(5.25 * var(--fs-base));


  /* Space */
  --space-unit: 1em;

  --space-xxs:  calc(0.25 * var(--space-unit));
  --space-xs:   calc(0.5 * var(--space-unit));
  --space-sm:   calc(0.85 * var(--space-unit));
  --space-md:   calc(1.25 * var(--space-unit));
  --space-lg:   calc(1.75 * var(--space-unit));
  --space-xl:   calc(2.75 * var(--space-unit));
  --space-xxl:  calc(5.25 * var(--space-unit));
  
}



/* Layout and Grid */

/* Icons */
.icon {
  display: inline-block;
  height: 3em;
  width: 3em;
  border-radius: 100px;
  background: rgba(var(--clr-grey-100), var(--alpha-low));
  /* center */
  
  

}
/* TODO icon size */
.icon-s {
  
  height: 1em;
  width: 1em;
  border-radius: 100px;
  background: rgba(var(--clr-grey-100), var(--alpha-low));
  text-align: center;
  line-height: var(--fs-unit);

}

.icon-xs {
  height: var(--fs-xxs);
  width: var(--fs-xxs);
  border-radius: 100px;
  background: rgba(var(--clr-grey-100), var(--alpha-low));
  text-align: center;
  line-height: var(--fs-xxs);
}

/* ------------------------------ */
/* Utility                        */
/* ------------------------------ */

/* Truncate text (...) if exceeds parent */
.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
}

.truncate-multiline {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  word-break: var(--word-break, 'none');
  overflow: hidden;
  text-align: var(--align, left);
}

.flex-row {
    display: flex;
    gap: var(--space-xs);
    align-items: center;
    justify-content: flex-start;
}

.flex-space-between {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: var(--space-sm);
    align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;

  justify-content: flex-end;
  align-items: flex-start;
  gap: var(--space-s, 0.5em);
}

.flex-column-space-between {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  align-items: flex-start;
  gap: var(--space-s, 0.5em);
}

.pad {
  padding: var(--space-xs, 0.5em);
}
.pad-unit {
  padding: var(--space-unit, 1.5em);
}



.spacer-unit {
  height: var(--space-base, 1.5em);
}

.textshadow-light {
  text-shadow: 0px 0px var(--space-sm) rgba(var(--clr-white), var(--alpha-high));
}

.border-sharp {
  border-width: 1px;
  border-style: solid;
  border-radius: var(--br-sharp);
}

.border-gradient {
  border: 1px solid;
  border-image-slice: 1;
}



.border-gradient-white {
  border-image-source: linear-gradient(to top, #ffffff00 , #ffffff00);
}

.border-gradient-white:hover {
  border-image-source: linear-gradient(to top, #ffffff12 , #ffffff00);
  transition: all 1s ease-in-out;
}

.border-gradient-skeu {
  border-image-source: linear-gradient(253.68deg, rgba(0, 0, 0, 0.35) 18.86%, rgba(0, 0, 0, 0) 98.85%),
  linear-gradient(67.9deg, rgba(85, 85, 85, 0.35) -4.51%, rgba(44, 44, 44, 0) 79.18%);
}

/* ------------------------------ */
/* Responsiveness: TODO           */
/* ------------------------------ */
@media breakpoint() {
    /* Update base sizes */
    :root {
        --font-size-base: 12px;
        --space-unit: 8px;
    }
}

/* ------------------------------ */
/* Components: TODO           */
/* ------------------------------ */


h1 {
  font-weight: 600;
  font-size: var(--fs-xl);
  line-height: var(--space-lg);
  color: rgba(var(--clr-white), var(--alpha-high));
  letter-spacing: -0.02em; 
}

h2 {
  font-weight: 600;
  font-size: var(--fs-lg);
  line-height: var(--space-md);
  color: rgba(var(--clr-white), var(--alpha-high));
  letter-spacing: -0.02em; 
}

h3 {
  font-size: var(--fs-md);
  line-height: var(--space-md);
  font-weight: 600;
  letter-spacing: -0.02em;
  text-shadow: 0px var(--space-sm) var(--space-md) rgba(var(--clr-white) var(--alpha-low));
  color: rgba(var(--clr-grey-300));
}

/* TODO: specify when needed */
h4,
h5,
h6 {
  font-weight: 600;
  font-size: var(--fs-md);
  line-height: var(--space-md);
  letter-spacing: -0.02em;
  text-shadow: 0px var(--space-sm) var(--space-md) rgba(var(--clr-white) var(--alpha-low));
  color: rgba(var(--color-grey-200));
}


p {
  font-weight: 400;
  font-size: var(--fs-unit);
  line-height: var(--space-md);
  color: rgba(var(--clr-grey-300), var(--alpha-medium));
  letter-spacing: -0.02em;
}

a {
  font-weight: 200;
  font-size: var(--fs-unit);
  color: rgba(var(--clr-grey-400), var(--alpha-high));
  letter-spacing: -0.02em;
}

a:hover {
  color: rgba(var(--clr-grey-300), var(--alpha-high));
}

strong {
  font-weight: 600;
}

.strong-uppercase {
  font-weight: 600;
  text-transform: uppercase;
}


.screensaver{
  background-image: linear-gradient(0deg, rgba(var(--clr-grey-800), var(--alpha-medium)) -20.22%, rgba(0, 0, 0, 0) 15.98%), linear-gradient(231.76deg, rgba(81, 81, 81, 0) 30.25%, rgba(0, 0, 0, 0.193) 66.06%, #111111 98.99%), url('../../assets/bg.png');
  background-image: linear-gradient(0deg, rgba(var(--clr-grey-800), var(--alpha-medium)) 25%, rgba(0, 0, 0, 0) 35%), linear-gradient(195deg, rgba(81, 81, 81, 0) 45.25%, rgba(0, 0, 0, 0) 15%, #111111 95%), url('../../assets/mural.png');
  background-size: cover;
}

.market-description {
  /* linear gradient background */
  background: linear-gradient(180deg, rgba(var(--clr-grey-500)) -70%, rgba(var(--clr-grey-800)) 50%);
  flex: 1;
}


/* Layout */
.dashgrid{
  display: grid;
  grid-template-columns: 1rem 2fr 1fr;
  grid-template-rows: 1fr 1.5rem minmax(100px, 0.25fr);
  flex: 2 2 10%;
}

.focus{
  grid-row: 1 / 1;
  grid-column: 2 / 2;

  /* override flex-column */
  justify-content: flex-end;
  padding: 0px 0px var(--space-unit) var(--space-sm);
  gap: var(--space-xxs);
  position: relative;

  


}

.light {
  font-weight: 200;
}

.focus::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  
  background-image: url('../../assets/map.png');
  background-size: cover;
  mix-blend-mode: soft-light;
  opacity: 0.05;
  z-index: 1;
}

.focus:hover::before {
  opacity: 0.45;
  transition: all 1s ease-in-out;
}


.focus > * {
  mix-blend-mode: normal;
  opacity: 1;
  z-index: 2;
}

.text-backdrop {
  background: linear-gradient(92.27deg, rgba(83, 83, 83, 0.25) 25.63%, rgba(19, 19, 19, 0.06) 92.89%);
  background-blend-mode: hard-light;
}


.axis{
  grid-row: 3/3;
  grid-column: 1/4;
  border-top: 1px solid;
  border-color: rgba(var(--clr-grey-100), var(--alpha-low));
  z-index: 0;
}

.dash{
  grid-row: 3 / 3;
  grid-column: 2 / 2;
  
  background: linear-gradient(92.27deg, rgba(var(--clr-grey-600), 0.45) 25.63%, rgba(19, 19, 19, 0.07) 92.89%);
  background-blend-mode: hard-light;

  --outline: 1px solid rgba(var(--clr-grey-500), var(--alpha-medium));

  border-left: var(--outline);
  border-top: var(--outline);
  border-right: var(--outline);

  z-index: 2;


  /* Auto layout for picker and ticker */
  display: flex;
  flex-direction: column;

  opacity: 0.75;


}

/* animation */
.anim-easeinout {
  transition: all 1s ease-in-out;
}

.dash:hover {
  opacity: 1;
  background: linear-gradient(92.27deg, rgba(var(--clr-grey-600), 0.45) 25.63%, rgba(19, 19, 19, 0.25) 92.89%);
  background-blend-mode: hard-light;
  transition: all 0.3s ease-in-out;
}

.picker{
  background: rgba(13, 13, 13, 0.3);
  padding: 0px 0px 0px var(--space-xs);
  overflow: scroll;
}

.picker::-webkit-scrollbar {
  display: none;
}

.sparklineticker {  
  box-sizing: border-box;
  flex: 1 1 auto;
}

.header{
    grid-row: 2 / 2;
    grid-column: 2 / 2;
}




.menu{
  position: absolute;
  top: var(--space-sm);
  left: var(--space-unit);

  background: rgba(var(--clr-grey-700), var(--alpha-high));
  border-radius: var(--br-circle);
  
  padding: var(--space-xxs) var(--space-sm) var(--space-xxs) var(--space-xs);

  border: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(253.68deg, rgba(0, 0, 0, 0.35) 18.86%, rgba(0, 0, 0, 0) 98.85%);

  z-index: 2;
}

/* Carousel */
.carousel-wrapper{
  height: 100%;
  /* pad top and bottom only */
  padding: var(--space-xxs) 0px var(--space-xxs) 0px;
}

.carousel-track{
  height: 85%;
  justify-content: center;
  align-items: center;
  gap: var(--space-unit);
  padding: var(--space-xxs) 0px var(--space-xxs) 0px;
}

.indicator-sparkline{
  position: relative;
  background-color: rgba(var(--clr-grey-700));
  border: 1px solid rgba(var(--clr-grey-500));
  border-radius: 8px;
  height: 100%;
  flex: 0 0 auto;
  width: 220px !important;
}

.indicator-sparkline-metadata{
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(var(--clr-grey-800), var(--alpha-low)),
                                    rgba(var(--clr-grey-800), var(--alpha-high))),
              radial-gradient(150% 350% at 5.36% 82.74%, rgba(77, 134, 142, 0.25) 0%, rgba(26, 26, 26, 0.36) 20.63%);
  
  position: relative;

  border-radius: 8px;
                
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: var(--space-xxs);
  padding: var(--space-xs) var(--space-xs) var(--space-xs) var(--space-xs);
  
  transition: all 0.3s ease-in-out;

  z-index: 1;
}

.indicator-sparkline-metadata-hover {
  width: 85%;
  border-radius: 8px 0px 0px 8px;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), radial-gradient(150% 350% at 5.36% 82.74%, rgba(77, 134, 142, 0.45) 0%, rgba(26, 26, 26, 0.36) 20.63%);
}


.sparkline{
  flex-grow: 1;
  position: absolute;
  /* stretch svg */
  width: 100%;
  height: 100%;
  top: 16px;
  right: -3px;
  

  z-index: 0;
}

.heart {
  color:rgba(0, 0, 0, 0);
  border: 1px solid rgba(var(--clr-grey-500), var(--alpha-high));
}


.pill {
  
  border: 1px solid rgba(var(--clr-white),  var(--alpha-low));
  border-radius: var(--br-circle);
  

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;

  
  /* Auto layout */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-xxs) var(--space-xs);

}

.pill:hover {
  background: rgba(var(--clr-grey-500),  var(--alpha-medium));
}

.pill span{
  font-size: var(--fs-base);
  font-weight: 400;
  letter-spacing: -0.02em;
  color: rgba(var(--clr-grey-400),  var(--alpha-medium));
}

.pill span:hover{
  color: rgba(var(--clr-grey-300),  var(--alpha-high));
  
}

.pill-active {
  background: rgba(var(--clr-grey-200), var(--alpha-high));
  border: 1px solid rgba(var(--clr-grey-500));
  color: rgba(var(--clr-grey-900));
}

.pill-active span{
  color: rgba(var(--clr-grey-500));
  font-weight: 400;
}

.pill-active:hover {
  background: rgba(var(--clr-white));
  transform: scale(1.01);

}

.pill-active span:hover {
  color: rgba(var(--clr-grey-900));
}


/* to refactor */

.caption{
  font-size: var(--fs-unit);
  line-height: var(--fs-md);
  text-transform: capitalize;
  font-weight: 400;
  letter-spacing: 0em;
}

.inscription{
  width: 100%;
  font-size: var(--fs-sm);
  --inscription-lineheight: calc(1.2*var(--fs-sm));
  line-height: var(--inscription-lineheight);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: -0.03em;
}

.inscription > p {
  color: rgba(var(--clr-grey-300), var(--alpha-medium));
}

.inscription-fade {
  position: relative;
  height: calc(2*var(--inscription-lineheight)); /* exactly two lines */
}
.inscription-fade::after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: var(--inscription-lineheight);
  background: linear-gradient(to right, rgba(var(--clr-grey-700), 0), rgba(var(--clr-grey-700), 1) 50%);
}



.option {
  color: rgba(var(--clr-grey-100), var(--alpha-high));
}




.DashboardInset{
  grid-row: 1/4;
  grid-column: 3/3;

}

.marketstable-wrapper{
  z-index: 1;
}


.market-row {
  position: relative;
  width: 100%;
  border: 1px solid rgba(var(--clr-grey-500), var(--alpha-medium));
  background: linear-gradient(90deg, rgba(var(--clr-grey-600), var(--alpha-high)) -15%, rgba(var(--clr-white), 0) 100%);
  cursor: pointer;
}

.market-row::after {
  content: "";
  background: yellow;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40%;
  width: 1px;
  z-index: 1;
}

.market-row:hover {
  background: linear-gradient(90deg, rgba(var(--clr-grey-500), var(--alpha-high)) -5%, rgba(var(--clr-white), 0) 100%);
}

/* 
.market-row:last-child {
  border-bottom: none !important;
}
*/


.market-row > * {
  color: rgba(var(--clr-grey-300), var(--alpha-medium));
  font-weight: 400;
  font-size: var(--fs-sm);
}

.market-row > *:hover {
  color: rgba(var(--clr-grey-300), var(--alpha-high));
}

.probsticker{
  flex: 1 1 auto;
  align-items: center;
  gap: var(--space-xxs);
  border: 2px solid rgba(var(--clr-grey-500), var(--alpha-high));
  padding: var(--space-md) var(--space-md);
}

.ModalOverlay{
  position: fixed;
  border: 2px solid black;

}

.SlidingPaneWrapper{
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.75);
  border: 2px solid black;
}

.WidgetThemeSelection{
  grid-row: 2 / 2;
  display: flex;
  align-items: center;
}

.DashboardThemeSelectionWelcomeWrapper{
  display: flex;
}

.DashboardActiveTheme {
  grid-column: 1 / 1;
  display: flex;
  align-items: center;
}

.DashboardActiveProblem {
  display: flex;
  align-items: center;
}

.DashboardThemeIndicatorCarousel {
  grid-column: 2 / 2;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.DashboardCarouselLibraryThemeWrapper{
  border: 2px solid black;
  height: 100%;
  margin-left: 20px;
  width: 80%;
}

.DashboardCarouselLibrarySlider{
  border: 1px solid rgba(255, 192, 203, 0);
}
