.PrimaryButton {

}

.SecondaryButton {

}

/* Used for all theme buttons before selection */
.ThemeButton {
  border-radius: 20px;
  border: 2px solid black;
  width: 160px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.ProblemButton {
  border-radius: 20px;
  border: 2px solid black;
  width: 180px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

/* Used for the selected theme button when looking at indicators */
.ThemeButtonActive {
  border: 2px solid black;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 40px;
  border-radius: 20px;
  background: lightgray;
}

.ProblemButtonActive {
  border: 2px solid black;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 40px;
  border-radius: 20px;
  background: darkgray;
}


.IndicatorContainer{
  height: 80%; /* Might want to change this system Andre */
  margin: 20px;
  width: 300px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
