/* Used for all theme buttons before selection */


.IndicatorContainer{
  height: 100%;
  margin: 4px;
  width: 300px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
