/* Used for all theme buttons before selection */
.pill {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px 12px;
  
  
  /* Grey 400 */
  background: #8E8E8E;
  /* Grey 600 */
  border: 2px solid #262626;
  border-radius: 100px;
}

.pill-active {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px 12px;
  
  
  /* Grey 400 */
  
  background: #fff;
  /* Grey 600 */
  
  border: 2px solid #262626;
  border-radius: 100px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: #181818;

}


.ThemeButton {
  border-radius: 20px;
  border: 2px solid black;
  width: 200px !important; /* this */
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}


.IndicatorContainer{
  height: 80%; /* Might want to change this system Andre */
  margin: 20px;
  width: 300px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
