.DashboardThemeSelection{
  border: 2px solid brown;
  grid-row: 2 / 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.DashboardThemeCarousel{
  flex: 1;
  border: 2px solid purple;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
