.indicatorwidget{
  width: 66%;
  
  
  /*  center the chart to the parent */
  margin:  var(--space-unit) auto;
  background: rgba(var(--clr-grey-700));
  border-radius: var(--br-sharp);
}

.indicator-header{
  background: rgba(var(--clr-grey-600));
  border-bottom: 1px solid rgba(var(--clr-grey-500));
  border-radius: var(--br-sharp) var(--br-sharp) 0 0;
  padding-top: var(--space-sm);
  
}

.indicator-header > p {
  width: 100%;
}