.SingleIndicatorWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SingleIndicatorChart{
  height: 700px;
  width: 700px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
